@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <center>
        <img src="~/Content/yandex.jpg" />
        <h2>ASP.NET MVC Application</h2>
        <p class="lead">
            Welcome to Yandex Disk API Application
    </center>
</div>


   

@section scripts{
    <script>
        $().ready(function () {
            if (window.location.hash) {
                $.ajax({
                    url: "/Home/Index?" + window.location.hash.replace('#', ''),
                   success: function (result) {
                        debugger;
                    },
                    error: function (result) {
                        debugger;
                    }
                });
            }
        });
    </script>
    }