@model KoenZomers.OneDrive.Api.Entities.OneDriveAccessToken

@{
    ViewBag.Title = "Home Page";
}

<br />


<div class="jumbotron">
    <center>
        <img src="~/Content/onedrive.png" />
        <h2>ASP.NET MVC Application</h2>
        <p class="lead">
            Welcome to One Drive API Application
    </center>
</div>